<header>
  <div class="header">
    <div class="app-name">Recipes</div>
    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-item" [ngClass]="{'active':page == '1'}"><a href="#" (click)="choosePage(1)">All Recipes</a></li>
        <li class="nav-item" [ngClass]="{'active':page == '2'}"><a href="#" (click)="choosePage(2)">Favorites</a></li>
        <li class="nav-item" [ngClass]="{'active':page == '3'}"><a href="#" (click)="choosePage(3)">Purchases</a></li>
      </ul>
    </nav>   
  </div>
</header>   
  