<header>
  <div class="header">
    <div class="app-name">
      <a href="#" routerLink="all-recipes"><img src="assets/Logo.png" alt=""></a>
    </div>
    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-item"><a href="#" routerLink="all-recipes" routerLinkActive="active">All Recipes</a></li>
        <li class="nav-item"><a href="#" routerLink="favorites" routerLinkActive="active">Favorites</a></li>
        <li class="nav-item"><a href="#" routerLink="purchases" routerLinkActive="active">Purchases</a></li>
      </ul>
    </nav>
  </div>
</header>
