.add-box {
  color: #4A4A4A;
  .add-content {
    width: 30%;
    margin: auto;
    display: grid;
    input, textarea {
      border-radius: 0.2vw;
      border: 1px solid #E1E1E1;
      margin-bottom: 2vw;
    }
    input {
      height: 1.8vw;
    }
    .add-button {
      margin-left: auto;
      margin-top: 1vw;
      background-color: #177A5E;
      color: white;
      width: 8vw;
      height: 3vw;
      border-radius: 0.4vw;
      border: 0;
      font-weight: 600;
      font-size: 1.1vw;
      &:hover {
        background-color: rgb(9, 75, 56);
      }
    }
  }
}