.add-box {
  color: #4A4A4A;
  form {
    display: grid;
    width: 50%;
    margin: auto;
    .hidden {
      color: red;
    }
    label {
      margin-bottom: 1vw;
    }
    input, textarea {
      width: 100%;
      border-radius: 0.4vw;
      border: 1px solid #E1E1E1;
    }
    input {
      height: 1.8vw;
      margin: 0.5vw auto;
    }
    button {
      margin-top: 1vw;
      background-color: #177A5E;
      color: white;
      width: 8vw;
      height: 3vw;
      border-radius: 0.4vw;
      border: 0;
      font-weight: 600;
      font-size: 1.1vw;
      &:hover {
        background-color: rgb(9, 75, 56);
      }
    }
    .add-ingredient {
      width: 2vw;
      height: 2vw;
      font-size: 1.2vw;
    }
    .add-button {
      margin-left: auto;
    }
    .ingredient__block {
      margin-bottom: 1vw;
      .ingredient__elem {
        display: grid;
        grid-template-columns: 95% 5%;
        i {
          margin: auto 1vw;
          font-weight: 600;
          cursor: pointer;
          color: #D41455;
        }
      }
    }
  }
}
