<div class="add-box">
  <h3 [textContent]= "recipe ? 'Edit recipe' : 'Add new recipe'"></h3>
  <div class="add-content">
    <label for="title">Title</label>
    <input type="text" #title [value]="recipe ? recipe['title'] : ''">
    <label for="description">Description</label>
    <textarea rows="5" type="text" #description [value]="recipe ? recipe['description'] : ''"></textarea>
    <label for="photoUrl">Photo URL</label>
    <input type="url" #url [value]="recipe ? recipe['photoUrl'] : ''">
    <label for="photoUrl">Instruction</label>
    <textarea rows="5" type="text" #instructions [value]="recipe ? recipe['instructions'] : ''"></textarea>
    <button class="add-button" routerLink="/all-recipes" (click)="!recipe ? addRecipe({title: title.value, description: description.value,
    photoUrl: url.value, instructions: instructions.value}) : saveRecipe({title: title.value, description: description.value,
    photoUrl: url.value, instructions: instructions.value})">Add</button>
  </div>
</div>
