<div appBoxshadow class="recipe-box">
  <img src="{{recipe['photoUrl']}}" alt="">
  <div class="box-description">
    <h3 (click)="goTo('all-recipes/details', recipe.title)">{{recipe.title | shortName:5}}</h3>
    <p>{{recipe.description}}</p>
  </div>
  <div class="box-edit">
    <div class="likes">
      <i class="material-icons red">favorite</i>
      <span>{{recipe.likes}}</span>
    </div>
    <hr>
    <div class="box-bottom">
      <div class="box-vote">
        <i class="material-icons size">thumb_up</i>
        <i class="material-icons size">thumb_down</i>
      </div>
      <div class="box-control">
        <i class="material-icons size" (click)="goTo('all-recipes/details', recipe.title)">remove_red_eye</i>
        <i class="material-icons size" (click)="goTo('all-recipes/edit', recipe.title)">edit</i>
        <i class="material-icons size" (click)="removeRecipe(recipe)">delete</i>
      </div>
    </div>
  </div>
</div>
